<%- include('./partials/header') %>
<main>
    <div class="ui segment">
        <h1>About Route</h1>
        <p>Heres a lil about us Uwu:</p>
        <ol>
            <li>Nothing</li>
            <li>What did ye spect??</li>
        </ol>
      </div>
</main>
<footer>
    <%- include('./partials/footer')%>
</footer>