<%- include('./partials/header') %>
<main>
    <div class="ui segment">
        <h1>Contact Route</h1>
        <p>Heres our very Uwu contact infos::</p>
        <ol>
            <li>Nothing</li>
            <li>XOXO</li>
        </ol>
      </div>
</main>
<footer>
    <%- include('./partials/footer')%>
</footer>