<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <title><%= title %></title>
            <h1><%= title %></h1>
            <p>Welcome to my website!</p>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</html>