<%- include('./partials/header') %>
<main>
    <div class="ui segment">
        <h1>Portifolio Route</h1>
        <div id="works">
            <ul>
                <li>lkjadhclkabdvc</li>
                <li>ouAGDÇIV</li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <%- include('./partials/footer')%>
</footer>