<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <title><%= title %></title>
            <p>You can contact us using the following:</p>
            <ul>
                <li>Contact 1</li>
                <li>Contact 2</li>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</html>