<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <title><%= title %></title>
            <h1><%= title %></h1>
            <p>Check out our works:</p>
            <ul>
                <li>none :)</li>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</html>